[Unit]
Description=HamoniKR System Settings

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/hamonikr-system-start
ExecStop=/usr/bin/hamonikr-system-stop

[Install]
WantedBy=multi-user.target